@model SitioCore.ViewModel.ConversorViewModel
<div>
    <h3>El resultado de la conversión de @Model.Valor @Model.idMonedaDestino</h3>
    <a asp-area="" asp-controller="Home" asp-action="Conversor">Ir al Conversor</a>
</div>
